POSTGRES_DB=blogdb
POSTGRES_USER=yourusername
POSTGRES_PASSWORD=supersecret
POSTGRES_SERVER=db
POSTGRES_PORT=5432
SECRET_KEY=supersecretljfdl283894839jlddfk
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=pgadminpassword
